<!DOCTYPE html>
<html>
<head>
	<title>Cube Time</title>
</head>
<body>
	<h1>Welcome to Cube Time</h1>
	<p> Select Buyer or Seller</p>
	<form action="/buyerloginaction" method="GET" id="buyerloginid"></form>
	<form action="/sellerloginaction" method="GET" id="sellerloginid"></form>
	<button type="submit" form="buyerloginid" value="submit">Buyer</button>
	<button type="submit" form="sellerloginid" value="submit">Seller</button>
</body>
</html>