<!DOCTYPE html>
<html>
<head>
	<title>Buyer Page</title>
</head>
<body>
	<h1>Buyer</h1>
	<form method="POST" action="/submitbuyer">
		<p>Name : <input type="text" name="name"></p>
		<p>Email : <input type="text" name="usermail"></p>
		<p>Password: <input type="Password" name="userpass"></p>
		<input type="submit" name="Save User">
		
	</form>
</body>
</html>