<!DOCTYPE html>
<html>
<head>
	<title>Seller Login</title>
</head>
<body>
	<h1>Seller Login</h1>
	<form method="POST" action="/buyerlogin">
		<p>Email : <input type="text" name="usermail"></p>
		<p>Password: <input type="Password" name="userpass"></p>
		<input type="submit" name="Save User">
		
	</form>
</body>
</html>